<div class="flex flex-col md:flex-row-reverse py-16 justify items-center gap-12">
    <div class="md:w-1/2 w-full flex items-center md:justify-end">
        <img src="{{bannerPath}}" alt="banner image">
    </div>
    <div class="md:w-1/2 w-full">
        <h1 class="md:text-5xl text-2xl font-medium mb-7">New Releases This Week</h1>
        <p class="mb-10">
            It's time to update your reading list with some of the latest and greatest releases in the literary world.
            From heart-pumping thrillers to captivating memoirs, this week's new releases offer something for everyone.
        </p>
        <button class="btn-primary" (click)="handleSubscribe()">Subscribe</button>
    </div>
</div>